<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1 class="h2">Pages <small>(<%= @pages.count %>)</small></h1>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @pages.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.title %></td>
            <td><%= item.created_at %></td>
            <td><%= item.updated_at %></td>
            <td>
              <a href="" class="btn btn-outline-primary btn-sm">Edit</a>
              <a href="" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <hr>

      <h2>Contacts</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Full name</h5>
          <p class="card-text">Address</p>
          <ul class="list-group">
            <li class="list-group-item">Email address: email@email.com</li>
            <li class="list-group-item">Mobile: +123456788999</li>
            <li class="list-group-item">Rating: *****</li>
          </ul>
          <br>
          <a href="#" class="btn btn-primary">Edit contacts</a>
        </div>
      </div>

      <br><br><br>
    </main>
  </div>
</div>