<div class="container-fluid">
  <div class="row">
    <%= render  'shared/admin_sidebar', :back_btn => true %>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <% unless notice.nil? %>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading"><%= notice.first %></h4>
          <p><%= notice.second %></p>
          <hr>
          <p class="mb-0"><%= sanitize(notice.last) %></p>
        </div>
      <% end %>
      <%= render 'form', {:target => @current} %>
    </main>
  </div>
</div>